.image {
    max-width: 50%;
    position: relative;
    align-self: center;
    padding: 5px 24px;
}

.image img {
    max-width: 100%;
    width: auto;
    border-radius: 2px 0 0 2px;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
